---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="Quien soy y por qué creé este blog"
	pubDate={new Date('August 03 2025')}
>
	<p>
		Hola soy un ingeniero de software con experiencia en desarrollo web y móvil. 
		Me apasiona crear aplicaciones que mejoren la vida de las personas y disfruto aprendiendo nuevas tecnologías.
		En mi tiempo libre, me gusta explorar la naturaleza, leer libros de ciencia ficción y practicar deportes al aire libre.

		Me encanta las peliculas de terror y tengo mucho tiempo en la industria del software.
		He trabajado en varios proyectos interesantes que van desde aplicaciones móviles hasta sistemas de backend complejos
		y siempre estoy buscando nuevos desafíos para mejorar mis habilidades y contribuir a proyectos innovadores.

		Es por eso que dedici crear este blog, para compartir mis experiencias, conocimientos y reflexiones sobre el mundo de reclutamiento
		con un toque humoristico y de terror.
	</p>
</Layout>
