---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hola Candidato</h1>
			<p>
				¿Alguna vez te han dejado en visto después de cinco entrevistas?
				¿Te han pedido hacer una prueba técnica de ocho horas "sólo para ver tu estilo"?
				¿Te han prometido “feedback pronto” y todavía lo estás esperando?
				Entonces este blog es para ti.
			</p>
			<p>
				Aquí recopilamos las historias más absurdas, frustrantes y surrealistas del mundo del reclutamiento. 
				Porque buscar trabajo ya es bastante difícil como para no reírse (o llorar) un poco en el camino.
			</p>
			<p>Prepárate para revivir esas entrevistas que parecían sketch de comedia… si no fuera porque las viviste tú.</p>
			<ul>
				<li>
					Postulante cansado, este es tu refugio.
				</li>
				<li>
					Postulante indignado, esta es tu trinchera.
				</li>
				<li>
					Postulante sobreviviente, esta es tu comunidad.
				</li>
			</ul>
			<p>
				Bienvenid@ al lado oscuro del reclutamiento. Pasa, ponte cómodo… y cuéntanos tu historia.
			</p>
		</main>
		<Footer />
	</body>
</html>
